<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../assets/css/auth.css">
        <script src="../../assets/js/main.js" defer></script>
        <title>Authentication Page</title>
    </head>
    <body>
        <div class="appDiv">
            <header >
                <h1 class="appName">ByteXpress</h1>
            </header>
        </div>
        
        <div class="logInBox" id="logInBox">
            <h1 class="logInTitle">Welcome Back!</h1>
            <form class="logIn">
                <input type="email" id="login_email" name="login_email" placeholder="Email" required>
                <br><br>
                <input type="password" id="login_password" name="login_password" placeholder="Password" required>
                <br><br>
                
                <button type="submit" id="login_button" class="login_button">Log In</button>
            </form>
            
        <h4>Don't have an account? <a href="register_form.html" class="link">Sign Up</a></h4>
        </div>
    </body>
</html>