<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../assets/css/auth.css">
        <script src="../../assets/js/main.js" defer></script>

        <title>Authentication Page</title>
    </head>
    <body>
        <div class="appDiv">
            <header >
                <h1 class="appName">ByteXpress</h1>
            </header>
        </div>
        <div class="signUpBox" id="signUpBox">
            <h1 class="signUpTitle">Get Started!</h1>
            <form class="signUp" id="signUp">
                <input type="text" id="register_name" name="register_name" placeholder="Name" required>
                <br><br>
                <input type="email" id="register_email" name="register_email" placeholder="Email" required>
                <br><br>
                <input type="password" id="register_password" name="register_password" placeholder="Password" required>
                <br><br>
                <!--<input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password" required>
                <br><br> --> 
                <button type="submit" id="register_button" class="register_button">Create Account</button>
                
            </form>
        <h4>Already signed up? <a href="login_form.html" class="link">Log in</a></h4>
        </div>


        

    </body>
</html>