<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../../assets/css/customer_home.css">
        <title>Home Page</title>
    </head>
    <body class="customerHome">
        <div class ="header"></div>
        <div class="customerHomeDiv" id="customerHomeDiv">
            <div class="shopContainers" id="shopContainers">
                <div class="shopImageContainer" id="shopImageContainer">
                    
                </div>
                <h3 class="shopName" id="shopName"></h3>
                    
            </div>
        </div>
        <div class="footer"></div>
    </body>
</html>