<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../assets/css/shop_profile.css">
        <title>Store Location</title>
    </head>
    <body class="locationPage">
        <main class="locationContainer">
            <div id="map" role="region" aria-label="Interactive Map"></div>
            <div class="details-wrapper">
                <p id="location-status">Detecting your location...</p>
                <p id="address-display"></p>
            </div>
        </main>
</body>
</html>