<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../assets/css/shop_profile.css">    <title>Photo Form</title>
</head>
<body class="shopPhotoForm">
    <div class="shopPhotoFormDiv">
        <div class="uploadedAllPhotosContainer"></div>
        <div class="shopPhotoContainer">
            <button type="reset" class="submit-btnPhotoForm" id="submitBtnPhotoForm">Add Photo</button>
            <button type="submit" class="submit-btnPhotoForm" id="submitBtnPhotoForm">Add Photo</button>
        </div>
    </div>
</body>
