@font-face {
    font-family: 'Montserrat';
    src: url('Fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900; /* Supports all weights in a variable font */
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}

.appName {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400; 
}

.appDiv{
    border: 2px solid rgb(231, 209, 179); 
}

.appName {
    color: rgb(67, 10, 10);
    margin-left: 10%; 
    text-align: left; 
    font-family: 'Montserrat', sans-serif;
}

.signUpBox{
    border: 2px solid burlywood; 
    border-radius: 50px;
    width: 300px;
    margin: 50px auto; 
    padding: 40px;
}

.logInBox{
    border: 2px solid burlywood; 
    border-radius: 50px;
    width: 300px;
    margin: 50px auto; 
    padding: 40px;
}

.signUpTitle{
    text-align: center;
    color: rgb(67, 10, 10);
    font-family: 'Montserrat', sans-serif;

}

.logInTitle{
    text-align: center;
    color: rgb(67, 10, 10);
    font-family: 'Montserrat', sans-serif;

}

.signUp{
    text-align: center;
    color:burlywood; 
}

.logIn{
    text-align: center;
    color:burlywood; 
}
.link {
    color: rgb(67, 10, 10);
    text-decoration: none;
    transition: color 0.3s ease; 
}

.link:hover {
    color: burlywood;
}

.link:active {
    color: coral; 
    transform: scale(0.98); 
}
h3 {
    text-align: center;
    color:burlywood; 
}