<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../assets/css/shop_profile.css">
        <title>Services Page</title>
    </head>
    <body class="servicesPage">
        <div class="servicesDiv">
            
            <form class="addServiceForm" enctype="multipart/form-data">
                <div class="inputGroupServices" id="servicesDivButton" role="button" tabindex="0">
                    <label for="photoURL" class="customFileUploadServices" id="drop-zone">
                        <div class="iconCircleService">+</div>
                        <span id="uploadTextServices">Add a service</span>
                    </label>
                    <button type="button" class="submit-btnServicePage">Add Service</button>
                </div>
                
            </form>
        </div>
        <template id="serviceCardTemplate">
            <div class="serviceCard">
                <div class="distinctServiceColor" style="background-color: var(--service-color, #ffb3b3);"><!--dynamic color dito--></div>
                <div class="cardContent">
                    <h2 class="serviceTitleCard"><!--Service Name--></h2>
                    <p class="serviceDescriptionCard"><!--Service description goes here...--></p>
                    <div class="tableServicesCard">
                        <table>
                            <thead>
                                <tr>
                                    <th class="specification">Specification</th>
                                    <th class="price">Price</th>
                                </tr>
                            </thead>
                            <tbody class="serviceRowsContainer">
                                <!-- Inject individual rows from database dito -->
                            </tbody>
                        </table>
                    </div>
                    <div class="buttonsDiv">
                        <button type="button" class="editButtonService">Edit</button>
                        <button type="reset" class="deleteButtonService">Delete</button>
                    </div>
                </div>
            </div>
        </template>

    </body>
</html>
