<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Deleted</title>
</head>
<body>
    <h1>YOUR SHOP WAS DELETED</h1>

    <div id="deletionReasonBox">
        <h2>Reason for deletion</h2>
        <p id="sellerDeletionReason"></p>
    </div>

    <p>Do you think this is a mistake? Contact admin@email.com</p>

    <script src="../../assets/js/seller_deleted_shop.js"></script>
</body>
</html>
