
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;  
    width: 100%;
}
.header{
    background-color: #43a8d6;
    padding: 10px 20px;
    width: 100%;  
    height: 80px;
    margin-bottom: 20px;
    box-sizing: border-box;
}
 .footer {
    background-color:#43a8d6;
    padding: 10px 20px;
    width: 100%;  
    height: 80px; 
    margin-top: 20px;
    box-sizing: border-box;
    
}



#mainPage {
    display: flex;
    justify-content: center; 
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: white;
}

.dashboardContainer {
    display: flex;
    flex-direction: row;
    width: 95%;    
    max-width: 1400px;  
    gap: 20px;       
    height: 85vh;
}

.shopInfoDiv {
    flex: 2;          
    display: flex;
    border-radius: 40px;
    padding: 20px;
    width: 100%;       
    box-sizing: border-box;

}

.mainContainer {
    display: flex;
    flex-direction: column;
    flex: 4;
    border-radius: 40px;
    padding: 20px;
    width: 100%;      
    box-sizing: border-box;
    border: 1px solid #ccc; 
}



.shopInfoFrame {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 20px;
}
.servicesPageFrame {
    width: 100%;
    height: 90%;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-top: auto; /* This "pushes" it to the bottom */
}

.tabNavigation {
    margin-bottom: 15px;
    width: 100%;      

    display: flex;
    gap: 15px;
}
.tabNavigationContainer{
    width: 100%;
}