<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../assets/css/admin.css">
        <title>Admin Homepage</title>
    </head>
    <body>
        <div class="statusMarkersDiv">
            <div class="filterContainer">
                <button class="filterBtnActive" data-filter="all">
                    TOTAL: <span id="countAll">0</span>
                </button>
                <button class="filterBtnNew" data-filter="new">
                    NEW: <span id="countNew">0</span>
                </button>
                <button class="filterBtnDeleted" data-filter="deleted">
                    DELETED: <span id="countDeleted">0</span>
                </button>
                <button class="filterBtnEdited" data-filter="edited">
                    EDITED: <span id="countEdited">0</span>
                </button>
            </div>
            <ul id="itemList" class="itemList"></ul>
        </div>

        <template id="shopTemplate">
            <article class="shopCard">
                <a class="shopLink">
                    <div class="imageContainer">
                        <img class="shopImage">
                    </div>
                    <div class="shopNameDiv">
                        <h2 class="shopName"></h2>
                    </div>
                </a>
            </article>
        </template>

    </body>
</html>