<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="">
        <title>Buyer Shop View</title>
    </head>
    
    <body id="mainPage">
        <div class="reasonForDeletionDiv">
            <h1 class="reasonForDeletionTitle">REASON FOR DELETION</h1>
            <p class="deletionReason"></p>
            <button type="button">VIEW STORE PAGE</button>
        </div>
    </body>
</html>
