<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../assets/css/shop_profile.css">
        <title>Buyer Shop View</title>
    </head>
    
    <body id="mainPage">
        <div class="mainPageContainer">
            <div class ="header">
            </div>
        <div class="dashboardContainer">
            <div class="shopInfoDiv">
                <iframe src="../customer/shop_info.html" title="Shop Info" class="shopInfoFrame"></iframe>
            </div>
            <div class="newShopAdminButtons">
                    <button type="button" class="shopReviewed">Mark as Reviewed</button>
                    <button type="button" class="deleteShop">Delete Shop</button>
            </div>
            <main class="mainContainer">
                <div class="tabNavigationContainer">
                <div>
                    <nav class="tabNavigation">
                        <a href="../customer/services_page.html" target="contentFrame">SERVICES</a>
                        <a href="../customer/photos_page.html" target="contentFrame">PHOTOS</a>
                        <a href="../customer/location_page.html" target="contentFrame">LOCATION</a>
                    </nav>
                </div>
                <hr>
                </div>
                
                <iframe name="contentFrame" src="../customer/services_page.html" class="servicesPageFrame"></iframe>
            </main>
        </div>
        <div class="footer"></div>
</div>
</body>
</html>