<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../assets/css/shop_profile.css">
        <title>Buyer Header</title>
    </head>
    <body class="sellerHeader">
        <div class="logo">BubbleFinder</div>

        <form class="searchStoreForm">
            <div class="searchShopDiv">
                <input type="search" class="searchStoreButton" name="storeNameSearch" placeholder="Search Shop">
                <button type="submit" class="searchIconBtn">🔍</button>
            </div>
        </form>

        <nav class="navLinks">
            <a href="home.html">HOME</a>
            <a href="../auth/register_form.html">SIGN IN</a>
        </nav>
    </body>
</html>