<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../assets/css/customer_home.css">
        <title>Home Page</title>
    </head>
    <body class="customerHome">
        <div class="headerIframeBuyerHeader">
            <iframe class="headerIframe" src="buyer_header.html" scrolling="no" frameborder="0"></iframe>
        </div>
        <div class="headerIframeBuyerHeader">
            <iframe src="buyer_header.html" class="headerNavIframe" name="home-content"></iframe>
        </div>
        <br><br><br><br> 
        <template id="shopCardTemplate">
            <div class="customerHomeDiv">
                <div class="shopContainers"> 
                    <div class="shopImageContainer">
                    </div>
                    <h3 class="shopName"></h3>
                </div>
            </div>
        </template>
        <div class="footer"></div>
    </body>
</html>