<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/shop_profile.css">

    <title>Photos Page</title>
</head>
<body class="photosPage">
    <div class="photosPageContainer">
        <div class="preview-grid" id="previewGrid">
            
        </div>


        <div class="photosContainer" id="photosContainer">
            
        </div>
    </div>
    <script src="../../../assets/js/photos_page.js" defer></script>

</body>
</html>