<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../assets/css/shop_profile.css">
        <title>Buyer Shop View</title>
    </head>
    
    <body id="mainPage">
        <div class="mainPageContainer">
            <div class ="header">
            </div>
        <div class="dashboardContainer">
            <div class="shopInfoDiv">
                <iframe src="" title="Shop Info" class="shopInfoFrame" id="shopInfoFrame"></iframe>
            </div>
            
            <main class="mainContainer">
                <div class="tabNavigationContainer">
                <div>
                    <nav class="tabNavigation">
                        <a href="" id="servicesTab" target="contentFrame">SERVICES</a>
                        <a href="" id="photosTab" target="contentFrame">PHOTOS</a>
                        <a href="" id="locationTab" target="contentFrame">LOCATION</a>
                    </nav>
                </div>
                <hr>
                </div>
                
                <iframe name="contentFrame" src="" class="servicesPageFrame" id="contentFrame"></iframe>
            </main>
        </div>
        <div class="footer"></div>
</div>
        <script src="../../assets/js/customer_shop_profile.js"></script>
</body>
</html>